@model AdminSetting;
@{
    ViewData["Title"] = "Account settings - Account";
}
@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
}

@* ************** Content ************** *@
<div class="row">
    <div class="col-md-12">
        <div class="nav-align-top">
            <ul class="nav nav-pills flex-column flex-md-row mb-6">
                <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-sm bx-user me-1_5"></i> Account</a></li>
                @* <li class="nav-item"><a class="nav-link" href="AccountSettingsNotifications"><i class="bx bx-sm bx-bell me-1_5"></i> Notifications</a></li>
                <li class="nav-item"><a class="nav-link" href="AccountSettingsConnections"><i class="bx bx-sm bx-link-alt me-1_5"></i> Connections</a></li> *@
            </ul>
        </div>
        <div class="card mb-6">
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
                    <img src="~/img/avatars/1.png" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <label asp-for="ProfileImage" class="btn btn-primary me-3 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input type="file" id="upload" asp-for="ProfileImage" name="ProfileImage" class="account-file-input" hidden accept="image/png, image/jpeg" />
                        </label>
                        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                        </button>

                        <div>Allowed JPG, GIF or PNG. Max size of 800K</div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-4">
                <form id="formAccountSettings" asp-action="Update" asp-controller="AdminSettings" method="POST">
                    <div class="row g-6">
                        <input type="hidden" asp-for="Id" name="Id" value="Id" />
                        <div class="col-md-6">
                            <label asp-for="FirstName" class="form-label">First Name</label>
                            <input class="form-control" asp-for="FirstName" type="text" id="firstName" name="FirstName" autofocus />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName" class="form-label">Last Name</label>
                            <input class="form-control" asp-for="LastName" type="text" name="LastName" id="lastName" />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Email" class="form-label">E-mail</label>
                            <input class="form-control" asp-for="Email" type="text" id="email" name="Email" placeholder="john.doe&#64;example.com" />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Phone" class="form-label">Phone Number</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">Pak (+92)</span>
                                <input type="text" asp-for="Phone" id="phoneNumber" name="Phone" class="form-control" placeholder="202 555 0111" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" asp-for="Password">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="text" asp-for="Password" name="Password" class="form-control" id="basic-default-password12" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                <span class="input-group-text cursor-pointer" id="togglePassword">
                                    <i class="bx bx-show"></i>
                                </span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <label asp-for="Address" class="form-label">Address</label>
                            <input type="text" asp-for="Address" class="form-control" id="address" name="Address" placeholder="Address" />
                        </div>
                    </div>
                    <div class="mt-6">
                        <button type="submit" class="btn btn-primary me-3">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
        <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
                <div class="mb-6 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h5 class="alert-heading mb-1">Are you sure you want to delete your account?</h5>
                        <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                    </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                    <div class="form-check my-8 ms-2">
                        <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                        <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                    </div>
                    <button type="submit" class="btn btn-danger deactivate-account" disabled>Deactivate Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.querySelector("#togglePassword");
        const passwordField = document.querySelector("#basic-default-password12");

        togglePassword.addEventListener("click", function () {
            // Toggle the type attribute between 'password' and 'text'
            const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);

            // Toggle the icon between 'bx-hide' and 'bx-show'
            this.querySelector("i").classList.toggle("bx-show");
            this.querySelector("i").classList.toggle("bx-hide");
        });
    });
</script>